<div
    layout="row"
    class="layout-center masonry"
    ng-class="{'padding-0': $mdMedia('xs')}">
    
    <div class="brick">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-title">All recipients ({{recipients.all.length}})</span>
                    <span class="md-subhead">Names and numbers of people who are registered for Cat Facts</span>
                </md-card-title-text>
            </md-card-title>
            
            <div class="list">
                <recipients
                    recipients="recipients.all"
                    deletable="true"
                    limit-to="{{recipients.expanded ? null : 5}}"></recipients>
            </div>
            
            <md-card-actions layout="row" layout-align="start center" ng-if="recipients.all.length > 5">
                <md-button class="md-primary" ng-click="toggleExpandedRecipients()">
                    Show {{recipients.expanded ? 'less' : 'more'}}
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    
    <div class="brick">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-title">Unsubscribe Dates</span>
                    <span class="md-subhead">Date ranges in which users are allowed to unsubscribe</span>
                </md-card-title-text>
            </md-card-title>
            
            <div class="list">
                <md-list>
                    <md-list-item
                        class="md-2-line"
                        ng-repeat="unsubscribeDate in unsubscribeDates.all | limitTo: recipients.expanded ? null : 5"
                        ng-click="editDate($index, $event)">
                        
                        <div class="md-list-item-text">
                            <h3>
                                <span>{{unsubscribeDate.start | date : 'short'}}</span>
                                <md-icon class="material-icons">chevron_right</md-icon>
                                <span>{{unsubscribeDate.end | date : 'short'}}</span>
                            </h3>
                            <p>
                                <span>
                                    <span>{{unsubscribeDate.intervalMs | timeIntervalFormat}}</span>
                                    <md-tooltip
                                        md-direction="right"
                                        md-visible="true"
                                        ng-if="unsubscribeDate.status != 'Passed'">
                                        {{unsubscribeDate.status}}
                                    </md-tooltip>
                                </span>
                            </p>
                        </div>
                        
                        <md-button class="md-secondary md-icon-button">
                            <md-icon class="material-icons">edit</md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
            
            <md-card-actions layout="row" layout-align="start center" ng-if="unsubscribeDates.all.length > 5">
                <md-button class="md-primary" ng-click="toggleExpandedDates()">
                    Show {{unsubscribeDates.expanded ? 'less' : 'more'}}
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>

<style>
    .list {
        max-height: 50vh;
        overflow-y: scroll;
    }
    
    .masonry {
        display: block;
        column-count: 3;
        column-gap: 0;
    }
    .masonry .brick {
        display: block;
        break-inside: avoid;
        padding: 5px;
    }
</style>