<div class="layout-center" ng-class="{'padding-0': $mdMedia('xs')}">
    <h1 class="md-display-3">{{fact.text}}</h1>

    <div layout="row">
        <img ng-src="{{fact.user.photo}}" class="avatar avatar-large" />

        <div layout="column" class="margin-top-5 margin-sides-10">
            <p class=" margin-0 ">Submitted by </p class="margin-0 ">
            <p class="margin-0 ">
                {{fact.user.name.first}} {{fact.user.name.last}}
            </p>
        </div>
    </div>

</div>