<div class="layout-center" ng-class="{'padding-0': $mdMedia('xs')}">
	<div layout="column" layout-fill layout-align="start center">
		<span class="md-headline bold">Add a Recipient</span>
		<br/>
		
		<form ng-submit="addRecipient()" layout-xs="column" layout-gt-xs="row">
			<md-input-container class="no-space">
				<label>Name</label>
				<input ng-model="form.name" aria-label="Recipient name">
			</md-input-container>
			
			<md-input-container class="no-space">
				<label>Phone Number</label>
				<input ng-model="form.number" ng-pattern="/^\d{10}$/" aria-label="Recipient phone number">
			</md-input-container>
			
			<md-button type="submit" class="md-raised md-accent margin-top-5" ng-class="{'margin-bottom-30': $mdMedia('xs')}" aria-label="Add Recipient">
				Add
			</md-button>
			
			<md-button class="md-raised margin-top-5 md-primary" ng-click="openImportContacts()">
				Add Google contacts
			</md-button>
		</form>
	</div>
	
	<md-card ng-class="{'margin-sides-0': $mdMedia('xs')}">
		<md-toolbar class="md-table-toolbar md-default">
			<div class="md-toolbar-tools">
				<span class="md-subhead bold">
					My Recipients <span class="grey">({{recipients.length}})</span>
				</span>
				
				<span flex></span>
			
				<span class="padding-top-15">
					<md-checkbox
						ng-model="table.orderBy"
						aria-label="Sort table by date added"
						ng-true-value="'-updatedAt'"
						ng-false-value="'name'">
					<span class="md-body-2">Sort by date added</span>
				</span>
			</div>
		</md-toolbar>
	
		<md-table-container>
			<table md-table multiple ng-model="selected" md-progress="promise">
				<thead md-head>
					<tr md-row>
						<th md-column><span>Name</span></th>
						<th md-column ng-show="$mdMedia('gt-xs')">Date Added</th>
						<th md-column md-numeric><span>Phone Number</span></th>
					</tr>
				</thead>
				
				<tbody md-body>
					<tr md-row
						ng-repeat="recipient in recipients | orderBy: table.orderBy"
						ng-click="openConversation($event, recipient)"
						ng-style="{'cursor': 'pointer'}">
						
						<td md-cell>{{recipient.name}}</td>
						<td md-cell ng-show="$mdMedia('gt-xs')">{{recipient.updatedAt | date:'MMMM d, yyyy'}}</td>
						<td md-cell>{{recipient.number | tel}}</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
	</md-card>
</div>