#main-content ui-view .layout-center {
	max-width: 1200px;
	margin: 0 auto;
}
.input-button-inline {
	transform: translateY(-12px);
}

md-toolbar md-nav-bar .md-button.md-accent {
	color: #fff;
}

.md-icon-button-small {
	transform: scale(.8);
}

message {
	margin: 4px 0px;
}
message .container {
	max-width: 70%;
}
message .message-bubble {
	background-color: #dedede;
    border-radius: 12px;
    padding: 10px;
    margin: 0px 8px;
    max-width: 70%;
}
message .row-reverse .message-bubble {
	background-color: #2196f3 !important;
	color: #fff;
}

.padding-0 { padding: 0px !important; }
.padding-10-5 { padding: 10px 5px !important; }
.padding-11-15 { padding: 11px 15px !important; }
.padding-top-15 { padding-top: 15px !important; }
.padding-20 { padding: 20px !important; }
.padding-30 { padding: 30px !important; }
.line-height-10 { line-height: 10px !important; }
.margin-0 { margin: 0 !important; }
.margin-10 { margin: 10px !important; }
.margin-top-2 { margin-top: 2px !important; }
.margin-top-5 { margin-top: 5px !important }
.margin-bottom-0 { margin-bottom: 0px !important; }
.margin-bottom-30 { margin-bottom: 30px !important }
.margin-sides-0 { margin-left: 0px; margin-right: 0px; }
.min-width-350 { min-width: 350px !important; }
.width-40 { width: 40px; }

.avatar {
	width: 40px;
    border-radius: 50%;
}

.row-reverse {
	flex-direction: row-reverse !important;
	-webkit-flex-direction: row-reverse !important;
}

.grey { color: rgba(0,0,0,0.54) !important; }
.blue { color: #2196f3; }

.bold { font-weight: 500 !important; }
.center-text { 	text-align: center; }
.pointer { cursor: pointer; }

.accent-links a {
	text-decoration: none;
	color: rgb(33,150,243);
}

md-input-container.no-space {
	margin: 10px 0px;
}
md-input-container.no-space .md-errors-spacer {
	display: none;
}