body {
    overflow-y: hidden;
}

#main-content ui-view .layout-center {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
.md-title,
.title,
.md-headline {
    font-family: 'Raleway', sans-serif !important;
}

.md-display-2 {
    line-height: normal !important;
}

p,
span,
button {
    font-family: 'Roboto', sans-serif;
}

.input-button-inline {
    transform: translateY(-12px);
}

md-toolbar md-nav-bar .md-button.md-accent {
    color: #fff;
}

.sign-out-button {
    padding: 0 !important;
    margin-right: 10px !important;
}

.md-icon-button-small {
    transform: scale(.8);
}

md-list-item.md-2-line>md-icon {
    margin: 22px 24px 6px 8px !important;
}

message {
    margin: 4px 0px;
}

message .container {
    max-width: 70%;
}

message .message-bubble {
    background-color: #dedede;
    border-radius: 12px;
    padding: 10px;
    margin: 0px 8px;
    max-width: 70%;
}

message .row-reverse .message-bubble {
    color: #fff;
}

message .message-timestamp {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8px;
}

recipients .deleted {
    opacity: .5;
}

.subscription-icon {
    margin: 0 !important;
}

.subscription-icon img {
    width: 30px;
}

.subscription-icon.hidden {
    visibility: hidden;
}

.quick-fact .fact {
    max-height: 55vh !important;
    overflow-y: auto;
}

.padding-0 {
    padding: 0px !important;
}

.padding-10-5 {
    padding: 10px 5px !important;
}

.padding-11-15 {
    padding: 11px 15px !important;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-20 {
    padding: 20px !important;
}

.padding-30 {
    padding: 30px !important;
}

.line-height-10 {
    line-height: 10px !important;
}

.margin-0 {
    margin: 0 !important;
}

.margin-10 {
    margin: 10px !important;
}

.margin-top-2 {
    margin-top: 2px !important;
}

.margin-top-5 {
    margin-top: 5px !important
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important
}

.margin-sides-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.margin-sides-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.min-width-350 {
    min-width: 350px !important;
}

.max-width-850 {
    max-width: 850px !important;
}

.width-40 {
    width: 40px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-large {
    width: 50px;
    height: 50px;
}

.avatar.small {
    width: 35px;
    height: 35px;
}

.row-reverse {
    flex-direction: row-reverse !important;
    -webkit-flex-direction: row-reverse !important;
}

.white {
    color: white;
}

.grey {
    color: rgba(0, 0, 0, 0.54) !important;
}

.blue {
    color: #2196f3 !important;
}

.green {
    color: #4CAF50 !important;
}

.red {
    color: #F44336 !important;
}

.black {
    color: #1e1e1e;
}

.translucent {
    opacity: .5;
}

md-nav-bar.transparent-bg .md-nav-bar {
    background-color: transparent !important;
}

.bold {
    font-weight: 500 !important;
}

.extra-bold {
    font-weight: 700 !important;
}

.italic {
    font-style: italic;
}

.center-text {
    text-align: center;
}

.center-parent {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(33, 150, 243);
}

md-input-container.no-space {
    margin: 12px 0px;
}

md-input-container.no-space .md-errors-spacer {
    display: none;
}

.md-dark-theme .md-table th,
.md-dark-theme .md-table td {
    color: white !important;
}

.md-dark-theme .md-default {
    background-color: #2b2b2b !important;
    color: white !important;
}

._md-nav-button.md-active {
    color: white !important;
}