<md-button class="md-primary page-prev">
    <md-icon class="material-icons">chevron_left</md-icon>
</md-button>

<md-button class="page-num">1</md-button class="page-num">
<md-button class="page-num">2</md-button class="page-num">
<md-button class="page-num">3</md-button class="page-num">
<md-button class="page-num">4</md-button class="page-num">
<md-button class="page-num">5</md-button class="page-num">

<md-button class="md-primary page-next">
    <md-icon class="material-icons">chevron_right</md-icon>
</md-button>

<style>
    .page-prev,
    .page-next,
    .page-num {
        min-width: unset;
        width: 30px;
        margin: 0px 4px;
    }
</style>