<md-toolbar ng-show="options.editable && selected.length != 0">
    <div class="md-toolbar-tools">
        <span class="md-subhead" flex>
        	{{selected.length}} {{selected.length == 1 ? 'recipient' : 'recipients'}} selected
        </span>
        
        <md-button
	        class="md-icon-button"
	        ng-click="editRecipient($event, selected[0])"
	        ng-show="selected.length == 1">
        	
        	<md-icon class="material-icons">edit</md-icon>
        </md-button>
        
        <md-button
	        class="md-icon-button"
	        ng-click="deleteRecipients($event, selected)">
            
            <md-icon class="material-icons">delete</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-table-container flex>
	<table md-table md-row-select="options.editable" multiple ng-model="selected" md-progress="promise">
		<thead md-head>
			<tr md-row>
				<th md-column><span>Name</span></th>
				<th md-column ng-if="options.addedBy"><span>Added By</span></th>
				<th md-column ng-show="options.dateAdded && $mdMedia('gt-xs')">Date Added</th>
				<th md-column>Subscriptions</th>
				<th md-column md-numeric><span>Phone Number</span></th>
			</tr>
		</thead>
		
		<tbody md-body>
			<tr md-row
				ng-repeat="recipient in recipients | orderBy: ['deleted', orderBy] | limitTo: limitTo"
				ng-click="recipient.deleted ? restoreRecipient($event, recipient) : openConversation($event, recipient)"
				ng-style="{'cursor': 'pointer'}"
				md-select="recipient"
				md-select-id="_id"
				ng-disabled="recipient.deleted"
				ng-class="{'deleted': recipient.deleted}">
				
				<td md-cell>{{recipient.name || 'No name'}}</td>
				<td md-cell ng-if="options.addedBy">{{recipient.addedBy.name.first}} {{recipient.addedBy.name.last}}</td>
				<td md-cell ng-show="options.dateAdded && $mdMedia('gt-xs')">{{recipient.updatedAt | date:'MMMM d, yyyy'}}</td>
				<td md-cell>
					<md-button
						class="md-icon-button subscription-icon"
						ng-repeat="animal in animals"
						ng-class="{'hidden': !recipient.subscriptions.includes(animal.name)}">
						
						<img ng-src="{{'/img/logo/animals/' + animal.name + '.png'}}"/>
						
						<md-tooltip>Subscribed to {{animal.name}} facts</md-tooltip>
					</md-button>
				</td>
				<td md-cell>{{recipient.number | tel}}</td>
			</tr>
		</tbody>
	</table>
</md-table-container>