<md-dialog aria-label="About Cat Facts">
    <md-dialog-content class="md-dialog-content">
        <h6 class="md-title margin-bottom-0">About Cat Facts</h6>
        
        <p class="md-body-1 accent-links">
            Made with &#9829; by <a href="mailto:alexwohlbruck@gmail.com" target="_blank">Alex Wohlbruck</a>
            <br/>
            Based on the <a href="http://www.catfacts.co/" target="_blank">Android App</a> by Vennco LLC and the <a href="https://catfacts-api.appspot.com/" target="_blank">Cat Facts API</a>
            <br/><br/>
            See the code on <a href="https://github.com/alexwohlbruck/cat-facts" target="_blank">GitHub</a>
        </p>
    </md-dialog-content>
</md-dialog>