<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title">
            Archive {{recipients.length == 1 ? recipients[0].name : recipients.length + ' recipients'}}?
        </h2>
        
        <p>{{recipients.length == 1 ? 'This person' : 'These people'}} will no longer recieve facts</p>
        
        <md-checkbox ng-model="permanent" aria-label="Checkbox 1" ng-show="showPermanentDeleteOption">
            Delete permanently
        </md-checkbox>
    </md-dialog-content>
    
    <md-dialog-actions>
        <md-button ng-click="cancel()">Cancel</md-button>
        <md-button ng-click="delete()" class="md-warn">Delete</md-button>
    </md-dialog-actions>
</md-dialog>