<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title">
            Unsubscribe from {{$state.params.animal}} facts
        </h2>
        
        <p>
            {{
                showCodeEntry ?
                "Okay, we've send a verification code to your phone" :
                "Enter your phone number."
            }}
        </p>
        
        <md-input-container class="no-space" ng-hide="showCodeEntry">
            <label>Phone number</label>
            <input ng-model="number">
        </md-input-container>
        
        <md-input-container class="no-space" ng-show="showCodeEntry">
            <label>Enter verification code</label>
            <input ng-model="code">
        </md-input-container>
    </md-dialog-content>
    
    <md-dialog-actions>
        <md-button ng-click="cancel()">Cancel</md-button>
        <md-button ng-click="showCodeEntry ? unsubscribe() : verifyPhone()" class="md-primary">Unsubscribe</md-button>
    </md-dialog-actions>
</md-dialog>